<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissões necessárias -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />


    <!-- Declaração de características de hardware -->
    <uses-feature android:name="android.hardware.sensor.gyroscope" android:required="false"/>
    <uses-feature android:name="android.hardware.camera" android:required="true" />
    <uses-feature android:name="android.hardware.camera.any" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera.flash" android:required="false" />

    <application
        android:networkSecurityConfig="@xml/network_security"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/book_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/book_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApp.MySplash"
        tools:targetApi="31"
        android:usesCleartextTraffic="false">

        <meta-data
            android:name="androidx.camera.core.impl.CameraXConfig.Provider"
            android:value="androidx.camera.core.impl.CameraXConfig.Provider" />

        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode_ui" />



        <activity
            android:name=".ui.auth.authActivity"
            android:theme="@style/Base.Theme.BookShelf"
            android:exported="false"
            android:windowSoftInputMode="adjustPan"
            android:hardwareAccelerated="true"/>

        <!-- SplashScreen Terá de ser o ponto de entrada -->
        <activity
            android:name=".ui.SplashScreen"
            android:exported="true"
            android:theme="@style/Theme.MyApp.MySplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan"
            android:hardwareAccelerated="false"/>
    </application>

</manifest>
